div#divLog{
	height:100px;
	width:25%;
	background:orange;
	border-style: solid; 
	border-color: purple;
}
div#header{
	height:100px;
	width:100%;
	background-color:orange;
	border-style: solid; 
	border-color: purple;
}
div#divMenu{
	height:100%;
	font-size: 14px;
	
	background:orange;
	border-style: solid; 
	border-color: purple;
}
.ui-menu { width: 70%; }
div#divCrearPlayList
{
	float:left;
	width:70%;
	background:orange;
	border-style: solid; 
	border-color: purple;
}

div#contenedor{
	float:left;
	width:40%;
	height:100%;
}